:root {
    --board-side-length: 600px;
    --cell-side-length: calc(var(--board-side-length) / 3);
}

body {
    margin: 0;
    padding: 0;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    font-family: sans-serif;
}

#board {
    height: var(--board-side-length);
    width: var(--board-side-length);
    display: grid;
    grid-template-columns: repeat(3, var(--cell-side-length));
    grid-template-rows: repeat(3, var(--cell-side-length));
}

.tile {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile > span {
    font-size: 10rem;
}

#start {
    font-size: 2rem;
    padding: 8px 16px;
}

.modal {
    display: none;

    position: fixed;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal > * {
    background-color: #fff;
    border: 1px solid #000;
    padding: 16px;
    width: 550px;
    margin: 40vh auto;
    font-size: 1.5rem;
}

.modal > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

form > div {
    display: flex;
    align-items: center;
    gap: 16px;
}

input,
form button,
.players-number {
    font-size: 1.5rem;
    padding: 8px 16px;
}

#game-over-message {
    text-align: center;
    font-size: 2rem;
}

#select-players > div {
    display: flex;
    justify-content: center;
    gap: 16px;
}
