:root {
    --board-side-length: 600px;
    --cell-side-length: calc(var(--board-side-length) / 3);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#board {
    height: var(--board-side-length);
    width: var(--board-side-length);
    display: grid;
    grid-template-columns: repeat(3, var(--cell-side-length));
    grid-template-rows: repeat(3, var(--cell-side-length));
}

.tile {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile > span {
    font-size: 10rem;
}
